{% set comments = __SELF__.comments %}
{% set user = __SELF__.user %}
{% set depth = __SELF__.depth %}

<div class="container">
    <h3>Comments</h3>
    <div id="comments">

        {{ comment }}

        {% macro comments_tree(pid, level, comments, user, depth) %}
            {% import _self as macros %}

            {% for comment in comments %}

                {% if pid == comment.pid %}

                {% set margin = level * 20 %}

                    <div id="comment-{{ comment.id }}" class="media comment">
                        <div class="pull-left">
                            {% if comment.user_avatar != '' %}
                                <img class="media-object" src="{{ comment.user_avatar }}"/>
                            {% else %}
                                <img class="media-object" src="http://www.gravatar.com/avatar/0b82069d0d95bf220796eecae463d6db?s=64&d=mm"/>
                            {% endif %}
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {% if comment.user_name != '' %}
                                <span class="user-name">
                                    {{ comment.user_name }}
                                </span>
                                {% endif %}

                                {% if comment.name != '' %}
                                <span class="user-name">
                                    {{ comment.name }}
                                </span>
                                {% endif %}
                                <small class="comment-published-at">{{ comment.published_at|date('m.d.Y') }}</small>
                            </h4>
                            <div class="comment-content">{{ comment.content_html|raw }}</div>
                            <div class="comment-actions">

                                {% if ( level < depth ) or ( depth == 0 ) %}
                                <a href="#"
                                   class="action-link reply"
                                   data-id="{{ comment.id }}"
                                   data-level="{{ level }}">reply</a>
                                {% endif %}

                                {% if (comment.user_id != 0) and (user.id == comment.user_id) %}
                                <a href="#"
                                   data-id="{{ comment.id }}"
                                   class="action-link edit">edit</a>
                                <a href="#"
                                   data-id="{{ comment.id }}"
                                   class="action-link delete">delete</a>
                                {% endif %}
                            </div>
                        </div>
                        {% set level = level + 1 %}
                        <div id="reply-{{ comment.id }}" class="level level-{{ level }}">
                            {{ macros.comments_tree(comment.id, level, comments, user, depth) }}
                        </div>
                        {% set level = level - 1 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endmacro %}

        {% import _self as macros %}

        {{ macros.comments_tree(0, 0, comments, user, depth) }}
    </div>

    <h3>Leave a Comment:</h3>
    <div id="comment-form-wrapper">
        <form id="comment-form"
              class="comment-form"
              data-request="onComment"
              data-request-update="'{{ __SELF__ }}::new': '@#comments'"
              data-request-success="afterSubmit($el, context, data, textStatus, jqXHR)"
              data-options="{{ dataOptions }}"
              role="form">
            {% if loggedin != true %}
            <div class="form-group">
                <input type="text" id="name" name="name" value="" placeholder="Name" class="name form-control">
            </div>
            <div class="form-group">
                <input type="text" id="mail" name="mail" value="" placeholder="Email" class="mail form-control">
            </div>
            <div class="form-group">
                <input type="text" id="homepage" name="homepage" placeholder="Homepage" value="" class="homepage form-control">
            </div>
            {% endif %}
            <div class="form-group">
                <textarea name="content" id="content" class="content form-control" rows="3"></textarea>
            </div>

            <input type="hidden" name="pid" id="to" class="to">
            <input type="hidden" name="id" id="edit" class="edit">
            <input type="hidden" name="level" id="level" class="level">

            <div class="form-group form-submit">
                <input type="submit" class="btn btn-primary" value="Send">
            </div>

            <div class="cancel-reply">
                <a href="#" class="cancel-reply-link btn btn-default">Cancel</a>
            </div>

            <div class="clear"></div>
        </form>
    </div>
</div>
